
<h1> Create a new Historial </h1>

<% if @historial.errors.any? %>
  <ul>
    <% @historial.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %> 
  </ul>
<% end %>

<%= form_for @historial do |f| %>
  <div>
    <%= f.label :owner_name  %>
    <%= f.text_field :owner_name  %>
    <div>
    <%= f.label :consult_reason  %>
    <%= f.text_field :consult_reason  %>
    </div>
    <div>
    <%= f.label :pet_name  %>
    <%= f.text_field :pet_name  %>
    </div>
    <%= f.submit %>
  </div>
<% end %>

