<!DOCTYPE html>
<html>
<nav class="navbar navbar-light" style="background-color: #23374D;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<tr>
<td><a class="navbar-brand" href="#">VetClinic</a></td>
<td><a class="navbar-brand" href=/historials/new>Create New Historial</a></td>
</tr>
 

</nav>
</nav>

  <head>
    <title>VetClinic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <ul>
        <li> <%= msg %> </li>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
