<!DOCTYPE html>
<html>

<ul class="nav nav-pills" style="background-color: #23374D;" >
  <h2 style="color:#E5E5E5;" > Vet Clinic </h2>
  <ul class="nav nav-pills">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/historials">Show Historials</a></li>
  <li role="presentation"><a href="/historials/new" >Create Historial</a></li>
  <li role="presentation"><a href="/about">About us</a></li>
</ul>
</ul>


  <head>
    <title>VetClinic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <ul>
        <li> <%= msg %> </li>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
