<!DOCTYPE html>
<html> 

<ul class="nav nav-pills" style="background-color: #23374D;" >
    <h2 style="color:#E5E5E5; margin-left: 10px;" > NanyVet </h2>
    <%= image_tag "logo.png" , class: "img-responsive tamano" %>
     <div class="container"> 
      <ul class="nav nav-pills">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/historials">Show Historials</a></li>
        <li role="presentation"><a href="/historials/new" >New Historial</a></li>
        <li role="presentation"><a href="/about">About us</a></li>
      </ul>
    </div>
</ul>

  <head>
    <title>NanyVet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <ul>
          <div class="alert alert-success" role="alert"><%= msg %></div>
      </ul>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
